@page "/EntradasHuacales/Index"
@inject IToastService toastService
@rendermode InteractiveServer
@inject EntradasHuacalesService entradasHuacalesService
<PageTitle>Registro de Entradas Huacales</PageTitle>
<div class="container mb-5">
    <div class="card shadow-lg">
        <div class="card-header d-flex justify-content-between">
            <h5 class="card-title">Registro de Entradas Huacales</h5>
            <a href="EntradasHuacales/Create" class="d-flex gap-2 btn btn-outline-primary h-25 align-ite">
                <i class="bi bi-plus"></i>
                <span>Crear</span>
            </a>
        </div>
        <div class="card-body">
            @*Label e Inputs Para Fecha*@
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <label class="form-label">Desde</label>
                    <input type="date" class="form-control" placeholder="Buscar" @bind="ValorFechaInicial" />
                </div>
                <div class="col-lg-6 col-md-6">
                    <label class="form-label">Hasta</label>
                    <input type="date" class="form-control" placeholder="Buscar" @bind="ValorFechaFinal" />  
                </div>
            </div>

            @*Label e Inputs Para Filtro Normal*@
            <div class="row">
                <div class="col-lg-6">
                    <label class="form-label">Seleccione una Opción</label>
                    <select class="form-select" @bind="Filtro">
                        <option value="">Seleccione una Opción</option>
                        <option value="Nombre">Nombre</option>
                    </select>
                </div>
                <div class="col-lg-6">
                    <label class="form-label">Buscar</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar" @bind="ValorFiltro" />
                        <button type="button" @onclick="Buscar" class="btn btn-primary bi bi-search"></button>
                    </div>
                </div>
            </div>

            @*Table*@
            <div class="table-responsive mt-2">
                <QuickGrid Items="@ListaHuacales.AsQueryable()" Class="table table-bordered table-striped" Pagination="pagina">
                    <PropertyColumn Property="@(p => p.IdEntrada)" Title="IdEntrada" Sortable="true" />
                    <PropertyColumn Property="@(p => p.Fecha)" Title="Fecha" Format="dd/MM/yyyy" Sortable="true" />
                    <PropertyColumn Property="@(p => p.NombreCliente)" Title="Nombre Cliente" Sortable="true" />
                    <PropertyColumn Property="@(p => p.Cantidad)" Title="Cantidad" Sortable="true" />
                    <PropertyColumn Property="@(p => p.Precio)" Title="Precio" Format="N2" Sortable="true" />
                    <TemplateColumn Title="Opciones">
                        <a href="EntradasHuacales/Edit/@context.IdEntrada" class="btn btn-outline-primary bi bi-pencil-fill"></a>
                    </TemplateColumn>
                </QuickGrid>
            </div>
            <Paginator State="@pagina"/>
        </div>
        @*Conteo y Total*@
        <div class="card-footer">
            <label>Total: @ListaHuacales.Sum(h=>h.Precio * h.Cantidad).ToString("N2")</label>
        </div>   
    </div>
</div>

@code {
    public List<EntradasHuacales> ListaHuacales = new List<EntradasHuacales>();
    public string Filtro { get; set; } = string.Empty;
    public string ValorFiltro { get; set; } = string.Empty;
    public DateTime? ValorFechaInicial { get; set; } = DateTime.Today.Date;
    public DateTime? ValorFechaFinal { get; set; } = DateTime.Today.Date.AddDays(1);
    PaginationState pagina = new PaginationState { ItemsPerPage = 5 };

    protected override async Task OnInitializedAsync()
    {
        ListaHuacales = await entradasHuacalesService.Listar(h => h.IdEntrada > 0);
    }

    private async Task Refrescar()
    {
        ListaHuacales = await entradasHuacalesService.Listar(h => h.IdEntrada > 0);
        Filtro = string.Empty;
        ValorFiltro = string.Empty;
        ValorFechaInicial = DateTime.Today.Date;
        ValorFechaFinal = DateTime.Today.Date.AddDays(1);
    }

    private async Task Buscar()
    {
        List<EntradasHuacales> listado = await entradasHuacalesService.Listar(f => f.IdEntrada > 0);
        if (ValorFechaInicial.HasValue && ValorFechaFinal.HasValue)
            listado = listado.Where(f => f.Fecha.Date >= ValorFechaInicial.Value.Date && f.Fecha.Date <= ValorFechaFinal.Value.Date).ToList();
        if (ValorFiltro.Trim() != "")
            if (Filtro == "Nombre")
                listado = listado.Where(h => h.NombreCliente.ToLower().Contains(ValorFiltro.ToLower())).ToList();  
        ListaHuacales = listado;
    }
}