@page "/EntradasHuacales/Create"
@inject IToastService toastService
@rendermode InteractiveServer
@inject EntradasHuacalesService entradasHuacalesService
@inject TiposHuacalesService tiposHuacalesService
@inject NavigationManager navigationManager

<PageTitle>Crear Entradas de Huacales</PageTitle>
<EditForm Model="EntradasHuacales" OnValidSubmit="Guardar" Context="editContext">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header">
                <h5 class="card-title">Crear Huacal</h5>
            </div>

            @*Inputs*@
            <div class="card-body">
                <div>
                    <label class="form-label">Fecha</label>
                    <InputDate @bind-Value="EntradasHuacales.Fecha" class="form-control"></InputDate>
                    <ValidationMessage For="() => EntradasHuacales.Fecha" />
                </div>
                <div>
                    <label class="form-label">Nombre Cliente</label>
                    <InputText @bind-Value="EntradasHuacales.Nombre" class="form-control"></InputText>
                    <ValidationMessage For="() => EntradasHuacales.Nombre" />
                </div>
            </div>

            @*Lista de Tipod de Huacales*@
            <div class="container">
                <div>
                    <h4>Hucales del Cliente</h4>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label class="form-label">Tipo de Huacal</label>
                        <InputSelect @bind-Value="DetallesHuacales.TipoId" class="form-select">
                            <option value="0">Seleccione un Tipo de Huacal</option>
                            @foreach (var t in ListaTipoHuacales)
                            {
                                <option value="@t.TipoId">@t.Descripcion</option>
                            }
                        </InputSelect>
                        <label class="text-danger">@mensajeTipo</label>
                    </div>
                    <div class="col-3">
                        <label class="form-label">Cantidad</label>
                        <InputNumber @bind-Value="DetallesHuacales.Cantidad" class="form-control"></InputNumber>
                        <label class="text-danger">@mensajeCantidad</label>
                    </div>
                    <div class="col-3">
                        <label class="form-label">Precio</label>
                        <InputNumber @bind-Value="DetallesHuacales.Precio" class="form-control"></InputNumber>
                        <label class="text-danger">@mensajePrecio</label>
                    </div>
                    <div class="col-3">
                        <button type="button" class="btn btn-outline-primary bi bi-plus-square" @onclick="GuardarDetalle">Agregar</button>
                    </div>
                </div>

                <div class="mt-2">
                    <QuickGrid Items="@EntradasHuacales.ListaHuacales.AsQueryable()" Class="table table-bordered table-striped">
                        <PropertyColumn Property="@(p => p.TipoId)" Title="IdEntrada" Sortable="true" />
                        <TemplateColumn Title="Descripción">
                            @ListaTipoHuacales.FirstOrDefault(t => t.TipoId == context.TipoId)?.Descripcion
                        </TemplateColumn>
                        <PropertyColumn Property="@(p => p.Cantidad)" Title="Cantidad" Sortable="true" />
                        <PropertyColumn Property="@(p => p.Precio)" Title="Precio" Sortable="true" />
                        <TemplateColumn Title="Opciones">
                            <button type="button" class="btn btn-outline-danger bi bi-trash" @onclick="() => EliminarDetalle(context)">Eliminar</button>
                        </TemplateColumn>
                    </QuickGrid>
                </div>

            </div>
            
            @*Botones*@
            <div class="card-footer d-flex justify-content-center gap-2">
                <a href="EntradasHuacales/Index" class="d-flex gap-2 btn btn-outline-secondary">
                    <i class="bi bi-arrow-left"></i>
                    <span>Volver</span>
                </a>
                <button class="btn btn-outline-primary bi bi-save">Guardar</button>
            </div>
        </div>

    </div>
</EditForm>


@code {
    public EntradasHuacales EntradasHuacales = new EntradasHuacales();
    public DetallesHuacales DetallesHuacales = new DetallesHuacales();
    public List<TiposHuacales> ListaTipoHuacales = new List<TiposHuacales>();
    private string mensajeTipo = string.Empty, mensajeCantidad = string.Empty, mensajePrecio = string.Empty;
    protected override async Task OnInitializedAsync()
    {
        ListaTipoHuacales = await tiposHuacalesService.Listar(t => t.TipoId > 0);
    }
    private async Task Guardar()
    {
        if (await entradasHuacalesService.ExisteDupliaco(EntradasHuacales))
        {
            toastService.ShowError("Error, no se aceptan registros con dos clientes iguales.");
            return;
        }
        if (!EntradasHuacales.ListaHuacales.Any())
        {
            toastService.ShowError("El registro debe de tener al menos un Tipo de Huacal.");
            return;
        }
        var creado = await entradasHuacalesService.Guardar(EntradasHuacales);
        if (creado)
        {
            toastService.ShowSuccess("Registro de Huacal Creado Correctamente");
            navigationManager.NavigateTo("EntradasHuacales/Index");
        }
        else
            toastService.ShowSuccess("Registro de Huacal No Pudo Ser Creado Correctamente");
    }
    private async Task EliminarDetalle(DetallesHuacales detalle)
    {
        EntradasHuacales.ListaHuacales.Remove(detalle);
        DetallesHuacales = detalle;
    }
    private void GuardarDetalle()
    {
        if (DetallesHuacales.TipoId == 0)
        {
            mensajeTipo = "Debe de seleccionar un Tipo de Huacal";
            return;
        }
        else
            mensajeTipo = "";
        if (DetallesHuacales.Cantidad < 1)
        {
            mensajeCantidad = "Cantidad debe ser mayor a 0";
            return;
        }
        else
            mensajeCantidad = "";
        if (DetallesHuacales.Precio < 1)
        {
            mensajePrecio = "Precio debe ser mayor a 0";
            return;
        }
        else 
            mensajePrecio = "";
        if (EntradasHuacales.ListaHuacales.Any(h => h.TipoId == DetallesHuacales.TipoId))
        {
            toastService.ShowError("Error, Tipo de Huacal ya fue registrado");
            return;
        }
        var detalle = new DetallesHuacales
        {
            TipoId = DetallesHuacales.TipoId,
            Cantidad = DetallesHuacales.Cantidad,
            Precio = DetallesHuacales.Precio
        };
        EntradasHuacales.ListaHuacales.Add(detalle);
        DetallesHuacales = new DetallesHuacales();
    }
}